<div class="navbar-container">
  <ul class="navbar group">
    <li class="logo">logo</li>
    <li>Home</li>
    <li class="searchbar">Search</li>
    <li>Upload</li>
    <!-- <li>
      <div class="avatar">
      <div class="username">
    </li> -->
  </ul>
</div>
