
<div id="content">
</div>


<script>
  var assets = {
    logo: "<%= asset_path("logo.png") %>",
    play: "<%= asset_path("play.png") %>",
    pause: "<%= asset_path("pause.png") %>",
  };
</script>
  <!-- var auth = {
    token: "<%= auth_token %>"
  } -->
