<div class="create-account">
<h2>Create Account</h2>

  <form action="<%= users_url %>" method="POST">

    <%= auth_token %>

  <label class="username">
    <p>Choose a username</p>
    <input type="text" name="user[username]">
  </label>

  <label class="email">
    <p>What's your email address?</p>
    <input type="email" name="user[email]">
  </label>

  <div class="password-fields">
    <label class="password">
      <p>Choose a password</p>
      <input type="password" name="user[password]">
    </label>

    <label class="retype-password">
    <p>Re-type password</p>
      <input type="password" name="user[retype_password]">
    </label>
  </div>

  <div class="button">
    <button>Create Account</button>
  </div>

  </form>
<div>
