  <div class="form-tabs group">
    <a href="<%= new_user_url %>">
      <h2>Create account</h2>
    </a>
    <a href="<%= new_session_url %>">
      <h2>Sign in</h2>
    </a>
  </div>

<div class="create-account group">
  <form action="<%= users_url %>" method="POST">
    <%= auth_token %>
    <!-- <label class="username">
      <p>Choose a username</p>
      <input type="text" name="user[username]">
    </label> -->
    <div class="email">
      <label>
        <p>What's your email address?</p>
        <input type="email" name="user[email]">
      </label>
    </div>

    <div class="password-fields">
      <label class="choose-password">
        <p>Choose a password</p>
        <input type="password" name="user[password]">
      </label>
    </div>

    <div class="password-fields">
      <label class="retype-password">
      <p>Re-type password</p>
        <input type="password" name="user[retype_password]">
      </label>
    </div>

    <div class="button">
      <button>Create Account</button>
    </div>
  </form>
<div>
