<h2>Create Account</h2>

<form action="<%= users_url %>" method="POST">

  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

<label>Choose a username
  <input type="text" name="user[username]">
</label>

<label>What's your email address?
  <input type="text" name="user[email]">
</label>

<label class="password">
  Choose a password
  <input type="password" name="user[password]">
  Re-type password
  <input type="password" name="user[retype_password]">
</label>
<button>Sign Up</button>
</form>
