.create-account {
  width: 400px;
  margin: 50px auto;
}

h2 {
  text-align: right;
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: lightgrey;
  background: black;
  padding: 10px;
}

.username input, .email input {
  width: 398px;
  /*border-radius: 5px solid grey;*/
}

.password, .re-type-password {
  width: 200px;
}
.password {
  width: 190px;
  display: block;
  float: left;
}
 .re-type-password {
  width: 190px;
  display: block;
  float: right;
}

.button {
  margin-top: 40px;
  float: right;

}
