.modal {
  display: none;
}
.modal.is-active {
  display: block;
}
.modal-content {
  position: absolute;
  z-index: 1000;
  top: 180px;
  left: 50%;
  width: 400px;
  padding: 50px;
  margin-left: -250px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
}
