.navbar-container {
  background: #333333;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  text-align: center;
  height: 46px;
  padding: 0px 30px;
}

.navbar {
  width: 1120px;
  background: #333333;
  li {
    // background: #333444; nice blue!!!
    color: #ccc;
    float: left;

    a {
      display: block;
      font-size: 13px;
      padding: 14px;
      height: 18px;
      width: 100px;
    }

  }
}
.navbar-left li {
  float:left;
  border-right: 1px solid #111;
}
.navbar-right {
  float: right;
}
.navbar-right li {
  float:left;
}
.navbar li.nav-tab:hover {
  background: #111111;
  color: #fff;
}

li.logo {
  padding: 0px;
  width: 69px;
  height: 46px;
  background-image: linear-gradient(rgb(255, 119, 0), rgb(255, 51, 0));

}
li.logo > a {
  background: url(https://a-v2.sndcdn.com/assets/images/header/cloud-e365a4.png) no-repeat 12px 11px;
  border-right: none;
  display: block;
  width:40px;
}

.more {
  background: url(https://a-v2.sndcdn.com/assets/images/header/more-0e9e75.svg) 50% 50% no-repeat;
}
