.profile-page,
.track-page {
  background: #fff;
  header {
    display: block;
    height: 260px;
    overflow: hidden;
    position: relative;
    font: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    h2,
    p {
      font-size: 36px;
      text-align: center;
      color: white;
      background: black;
      position: absolute;
      margin: 30px;
      padding: 10px;
      top: 0;
      left: 230px;
      z-index: 1;
    }
    p {
      font-size: 16px;
      margin-top: 90px;
    }
  }
  .avatar,
  .track-image {
    width: 200px;
    max-height: 260px;
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .cover {
    width: 1250px;
    position: relative;
  }
  .sidebar {
    margin-top: 40px;
  }
  .tracklist {
    float: left;
    padding: 15px 30px;
    .profile-tabs {
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
      margin-bottom: 20px;
      li {
        float: left;
        a {
          display: block;
          padding: 10px 20px;
        }
      }
      .follow-button {
        position: relative;
        left: 1010px;
        box-shadow: 2px 2px 1px #20C1F3;
        border-radius: 5px;
      }
      .Following button {
        color: #20C1F3;
        background: #fff;
        border: 1px solid #20C1F3;
      }
    }
  }
}
.banner {
  height: 380px;
  background-color: #47484A;
}
.hide {
  display: none;
}

#avatar-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.avatar:hover ~ .avatar-input {
  display: block;
}

.avatar-input:hover {
  display: block;
}

.avatar-input {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 190px;
  left: 70px;
  z-index: 10;

  font-size: 14px;
  font-weight: 100;
  padding: 5px 10px;
  color: white;
  background: #20C1F3;
  border-color: #20C1F3;
  border-radius: 5px;
  border-style: none;
}
