.profile-page, .track-page {
  // margin: 0 auto;
  // width: 1120px;
  background: #fff;

  header {
    display: block;
    max-height: 260px;
    overflow: hidden;
    position: relative;
    font: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;

    h2, p {
      font-size: 36px;
      text-align: center;
      color: white;
      background: black;

      position: absolute;
      margin: 30px; // wowww
      padding: 10px;
      top: 0;
      left: 230px;
      z-index: 1;
    }

    p {
      font-size: 16px;
      margin-top: 90px
    }
  }

  .avatar {
    width: 200px;
    max-height: 260px;
    position: absolute;
    padding: 30px; // wowww
    top: 0;
    left: 0;
    z-index: 1;
  }

  .cover {
    width: 1250px;
    position: relative;
  }

  .sidebar {
    margin-top: 40px;
  }

  .tracklist {
    float: left;
    padding: 15px 30px;

    .profile-tabs {
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #eee;

      li {
        float: left;
        a {
          display: block;
          padding: 10px 20px;
        }
      }

      .follow-button {
        position: relative;
        left: 840px;
        box-shadow: 2px 2px 1px #20C1F3;
        border-radius: 5px;
      }
      .Following button {
        color: #20C1F3;
        background: #fff;
        border: 1px solid #20C1F3;

      }
    }
  }
}

.hide {
  display: none;
}
