.tracks-index-item {
  width: 819px;
  height: 163px;
  background: white;
  padding: 10px 0px;
}

.tracks-index-item h3 {
  display: inline-block;
  font-size: 16px;
  text-align: left;
  font-weight: normal;
}

h3.artist {
  position: relative;
  width: 0px;
  top:-20px;
  color: #999;
  font-weight: 100;
  font-size: 13px;
  /*letter-spacing: 0em;*/
  left: 1px;
}

.play-button {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 5px;
  line-height: 42px;
  background-color: #f50;
  border-radius: 50%;
}
.play-button img {
  height: 18px;
  width: 18px;
  padding: 5px 6.5px;
}

.tracks-index-item .genre {
  float: right;
  background: lightgrey;
  font-size: 10px;
  margin-left: 200px;
  color: black;
  opacity: 0.7;
  border-radius: 15px;
}
