.comment-bar {
  .playcount,
  .trackbar-button {
    float: right;
    margin: 0 10px;
    img {
      width: 16px;
      margin-right: 5px;
    }
  }
  .playcount {
    color: #aaa;
  }
  .trackbar-button {
    margin-top: 3px;
    float: left;
    font-size: 11px;
    padding: 1px 5px;
    color: #000;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
  }
  .trackbar-button:hover {
    border: 1px solid #ccc;
  }
}
