ul.tracks-index {
  float: left;
  min-width: 849px;
  padding: 30px 20px;
  border-right: 1px solid #f2f2f2;
  background: white;
  h1 {
    color: #333;
    transition: color 0.5s;
    font-size: 24px;
    line-height: 38.4px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
  }
  p, .app-error {
    padding: 20px 0;
    font-weight: lighter;
    color: #999999;
    font-size: 18px;
  }
}
ul.tracks-index:hover h1 {
  color: #20C1F3;
  transition: color 0.3s;
}
