.login {
  width: 400px;
  padding: 20px;
  display: block;
  margin: 0px auto;
}

.form-tabs {
  margin-top: 80px;
  h2 {
    text-align: right;
    font-size: 14px;
    display: block;
    float: right;
    padding: 10px;
    background: #333333;
    color: #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.user-form {
  width: 400px;
  margin: 0 auto;

  p, input {
    padding: 5px;
    margin: 0 5px;
  }

  .username input, .email input, .long-password input {
    width: 383px;
  }
  .choose-password input, .retype-password input {
    width: 183px;
  }

  .password-fields {
    float: left;
  }
  .button {
    margin: 15px 5px;
    float: right;
  }
}
